@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}
main {
  width: 100%;
  padding: 0 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.page {
  @apply py-6;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #40b3a2; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes flip {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.flip {
  animation: flip 0.1s linear;
}

.nav-card-button {
  transition: all 0.2s ease-in-out;
  /* min-width: 20px; */
}

.nav-card-button:hover {
  color: #40b3a2;
}

button.primary,
.btn-primary {
  @apply rounded bg-primary px-3 py-1 text-white;
}
button.primary:disabled,
.btn-primary:disabled {
  opacity: 0.5;
}
button.secondary,
.btn-secondary {
  @apply rounded border-primary border-2 px-3 py-1 text-primary mx-auto;
}

.minibox button,
.minibox .start-study-btn {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.minibox:hover button,
.minibox:hover .start-study-btn {
  opacity: 1;
}

.minibox-action {
  @apply absolute top-[-10px] right-[-10px] aspect-square rounded-full w-[35px] flex items-center justify-center;
}

.create-button {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.create-button:hover {
  @apply bg-white text-primary;
}

.submit-box-btn {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.submit-box-btn:not(:disabled):hover {
  transform: scale(1.25);
}

@media (max-width: 500px) {
  .minibox button,
  .minibox .start-study-btn {
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
